<odoo>
	<!-- Menu cha chính: Vietnam Administration -->
	<menuitem 
		id="menu_vietnam_admin_root" 
		name="Vietnam Administration" 
		sequence="10" 
		groups="base.group_system"
	/>

	<!-- Submenu: Địa phương (dropdown chứa Province, District, Commune) -->
	<menuitem 
		id="menu_locality_root" 
		name="Address" 
		parent="menu_vietnam_admin_root" 
		sequence="20"
	/>

	<!-- Submenu của Địa phương: Province List -->
	<menuitem 
		id="menu_province_list" 
		name="Province" 
		parent="menu_locality_root" 
		action="action_province" 
		sequence="10"
	/>

	<!-- Submenu của Địa phương: District List -->
	<menuitem 
		id="menu_district_list" 
		name="District" 
		parent="menu_locality_root" 
		action="action_district"
		sequence="20"
	/>
	<!-- Submenu của Địa phương: Commune List -->
	<menuitem 
		id="menu_commune_list" 
		name="Commune" 
		parent="menu_locality_root" 
		action="action_commune" 
		sequence="30"
	/>

	<!-- Submenu: Country List -->
	<menuitem 
		id="menu_country_root" 
		name="Country" 
		parent="menu_vietnam_admin_root" 
		action="action_country" 
		sequence="30" 
	/>
</odoo>